body{
    
    font-family: serif;
    text-align: center
}

.titre{
    background-color: #cf7559;
    color:black;
    font-weight: bold;
    text-align: center;
}

h3 {
    color: #cf7559;
}


